.popup__content {
  position: relative;
  box-sizing: border-box;
}

.popup__content_substrate {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}